<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <clear />
        <add name="ConnStringSIA" connectionString="Data Source=LAPDESARROLLO\MSSQLSERVER16;MultipleActiveResultSets=true;Initial Catalog=base_mpio;User ID=sa;Password=Admin#1"
            providerName="System.Data.SqlClient" />
        <add name="Localsqlserver" connectionString="Data Source=LAPDESARROLLO\MSSQLSERVER16;Initial Catalog=BASE_MPIO_SEC;User ID=sa;Password=Admin#1"
            providerName="System.Data.SqlClient" />
        <add name="TCMAdmin.My.MySettings.base_mpioConnectionString"
            connectionString="Data Source=LAPDESARROLLO\MSSQLSERVER16;Initial Catalog=base_mpio;User ID=sa;Password=Admin#1"
            providerName="System.Data.SqlClient" />
        <add name="TCMAdmin.My.MySettings.BASE_MPIO_SECConnectionString"
            connectionString="Data Source=LAPDESARROLLO\MSSQLSERVER16;Initial Catalog=BASE_MPIO_SEC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
<system.web>
    <roleManager enabled="true"/>
    <membership>
      <providers>
        <remove name="AspNetSqlMembershipProvider"/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="Localsqlserver" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="3" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <profile defaultProvider="SqlProvider">
      <providers>
        <add name="SqlProvider" connectionStringName="Localsqlserver" applicationName="/" type="System.Web.Profile.SqlProfileProvider"/>
      </providers>

      <properties>
        <add name="Nombre" allowAnonymous="true"/>
      </properties>
    </profile>
    <!--<profile enabled="true">
      <providers>
        <add name="AspNetSqlProfileProvider" connectionStringName="Localsqlserver" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
   
      <properties>
        <add name="Nombre" type="System.String" />
      </properties>
    </profile>-->
  </system.web>
<system.diagnostics>
    <sources>
      <!-- En esta sección se define la configuración del registro para My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
 </configuration>
