<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GMap.NET.WindowsForms" version="1.7.5" targetFramework="net451" />
</packages>
<dependentAssembly>
  <assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692fbea5521e1304" culture="neutral"/>
  <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0"/>
</dependentAssembly>